.transformTabInnerWrapper {
  display: flex;
  align-items: center;
  text-align: left;
  span {
    position: relative;
    padding-left: 14px;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
  }
}

@media (max-width: 991px) {
  .transformTabInnerWrapper {
    span {
      font-size: 12px;
    }
  }
}
