.botSliderMainWrapper {
  background-image: url(../../images/sliderBgImg.jpg);
  background-size: cover;
  width: 100%;
  padding: 100px 0 60px;
  position: relative;
  overflow: hidden;
  text-align: center;
  // margin: 0% auto 5% auto;

  .sliderMainWrapper {
    .sliderContent {
      color: #fff;
      text-align: center;

      h4 {
        margin: 0 0 15px;
        font-size: 32px;
        font-weight: 700;
      }

      p {
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        line-height: 32px;
        margin: 0 0 80px;
      }
    }

    .slick-dots {
      li {
        width: 100px;
      }
    }
  }
}
