@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  padding-right: 0 !important;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 40px;
}

p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

a:focus,
a:hover,
button:focus {
  text-decoration: none;
  outline: 0;
}

:focus {
  outline: 0;
}

:hover {
  transition: 0.3s;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #b8b4b4;
}
::-webkit-scrollbar-thumb {
  background: rgba(248, 1, 71, 0.483);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(117, 111, 111);
}
