.serviceTabWrapper {
  .nav-item {
    & > a.nav-link {
      transition: all 0.3s;
      margin-right: auto;
      line-height: normal;
      height: 100px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      border: 1px solid rgb(237, 237, 237);
      background-image: -webkit-linear-gradient(
        90deg,
        rgb(244, 244, 244) 0%,
        rgb(255, 255, 255) 100%
      );

      &.active {
        color: #fff;
        border-right: 7px solid #ff004a !important;
        background-color: #fff !important;
        border-color: #dee2e6 #dee2e6 #fff;
      }

      &:hover {
        background-image: linear-gradient(to right, #b83d96, #41427a);
        border-right: 7px solid #272857 !important;
        background-color: #fff0;
        border-color: transparent;
        border: 1px solid #45427c;

        & h3,
        span {
          color: #ffffff;
        }
      }
    }
  }

  .tabInnerWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    & > img {
      width: 43px;
      height: 45px;
    }

    .tabInnerTextWrapper {
      padding-left: 17px;
      text-align: left;

      span {
        color: #333333;
        font-size: 18px;
        font-weight: normal;
      }

      h3 {
        margin: 0px;
        font-size: 18px;
        font-weight: bold;
        color: #333333;
        padding-top: 5px;
      }
    }
  }
}
