.webDesignMainWrapper {
  margin-top: 5%;

  .headingTextWrapper {
    h5 {
      color: transparent;
      background-image: linear-gradient(to right, #b83d96, #3c427a);
      font-weight: 700;
      margin-bottom: 10px;
      background-clip: text;
      -webkit-background-clip: text;
      font-size: 40px;
    }

    p {
      margin-bottom: 0;
      font-weight: 400;
      font-size: 18px;
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .tabContentBtnsWrapper {
    flex-wrap: wrap;
    justify-content: space-around !important;

    & > a,
    & > button {
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-device-width: 991px) {
  .tabContentBtnsWrapper {
    & > a,
    & > button {
      font-size: 12px !important;
    }
    & > a {
      span,
      h3 {
        font-size: 12px !important;
      }
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .tabContentBtnsWrapper {
    justify-content: space-between !important;

    & > button {
      padding: 5px 10px !important;
    }
  }
}

@media only screen and (max-device-width: 991px) {
  .mainTabsWrapper {
    .row {
      .col-xl-3 {
        margin-bottom: 5%;
      }
    }
  }
}

@media only screen and (max-device-width: 575px) {
  .tabContentImgsWrapper {
    .row {
      .col-12 {
        text-align: center;
        margin-bottom: 5%;
      }
    }
  }
}
